<%page expression_filter="h"/>
<%!
  import json
  from django.utils.translation import ugettext as _
  from openedx.core.djangolib.js_utils import js_escaped_string, dump_js_escaped_json
%>

## BMV: Using top-level function imports
<%namespace file="../../../snippets/biomedvis.html" 
    import="count_all, count_bio, count_med, count_vis"/>

<%inherit file="../main.html" />
<%
  course_discovery_enabled = settings.FEATURES.get('ENABLE_COURSE_DISCOVERY')
%>

<%namespace name='static' file='../static_content.html'/>

% if course_discovery_enabled:
<%block name="header_extras">
  % for template_name in ["course_card", "filter_bar", "filter", "facet", "facet_option"]:
  <script type="text/template" id="${template_name}-tpl">
      <%static:include path="discovery/${template_name}.underscore" />
  </script>
  % endfor
  <%static:require_module module_name="js/discovery/discovery_factory" class_name="DiscoveryFactory">
    DiscoveryFactory(
      ${course_discovery_meanings | n, dump_js_escaped_json},
      getParameterByName('search_query'),
      "${user_language | n, js_escaped_string}",
      "${user_timezone | n, js_escaped_string}"
    );
  </%static:require_module>
</%block>
% endif

<%block name="pagetitle">Explore</%block>

## BMV: Filtering courses using JavaScript
<script type="text/javascript">
  function setFilterTag(tag) {
      if (!["bio", "med", "vis", ""].includes(tag)) {
        tag = "";
      }

      window.location.href = document.URL.replace(/#.*$/, "") + "#" + tag;
      var courses = document.getElementsByClassName("courses-listing-item");
      for (let i = 0; i < courses.length; i++) {
        var visible = tag == "" || courses[i].innerHTML.includes("bmv-" + tag);
        courses[i].style.display = visible ? "block" : "None";
      }

      manageTag("all", tag);
      manageTag("bio", tag);
      manageTag("med", tag);
      manageTag("vis", tag);
  }

  function manageTag(curr_tag, url_tag) {
    var button = document.getElementById("bmv-select-" + curr_tag);
    if ([curr_tag].includes("all")) { curr_tag = ""; }
    if ([curr_tag].includes(url_tag)) { button.classList.add("bmv-filtered-by"); }
    else { button.classList.remove("bmv-filtered-by"); }
  }

  document.addEventListener('DOMContentLoaded', function() {
      var url = document.URL.split("#");
      
      var tag = url[url.length - 1];
      if (tag.length > 3) {
        tag = "";
      }
      setFilterTag(tag);
  }, false);
</script>

## BMV: Displaying filtering components
<div class="bmv-explore">
  <div class="bmv-filter">
    <h2 class="bmv-filter-text">Filter:</h2>
    <div class="bmv-filter-links-wrapper" id="bmv-select-all">
      <a class="bmv-filter-links" href="javascript:setFilterTag('')">All courses (${count_all(courses)})</a>
    </div>
    <div class="bmv-filter-links-wrapper" id="bmv-select-bio">
      <svg height="20" width="20" style="cursor: pointer;" onclick="javascript:setFilterTag('bio')">
        <circle cx="10" cy="10" r="10" fill="#81C49B" />
      </svg>
      <a class="bmv-filter-links" href="javascript:setFilterTag('bio')">Bio (${count_bio(courses)})</a>
    </div>
    <div class="bmv-filter-links-wrapper" id="bmv-select-med">
      <svg height="20" width="20" style="cursor: pointer;" onclick="javascript:setFilterTag('med')">
        <circle cx="10" cy="10" r="10" fill="#6393CE" />
      </svg>
      <a class="bmv-filter-links" href="javascript:setFilterTag('med')">Med (${count_med(courses)})</a>
    </div>
    <div class="bmv-filter-links-wrapper" id="bmv-select-vis">
      <svg height="20" width="20" style="cursor: pointer;" onclick="javascript:setFilterTag('vis')">
        <circle cx="10" cy="10" r="10" fill="#DB9469" />
      </svg>
      <a class="bmv-filter-links" href="javascript:setFilterTag('vis')">Vis (${count_vis(courses)})</a>
    </div>
  </div>
</div>

<main id="main" aria-label="Content" tabindex="-1">
    <section class="find-courses">
      <section class="courses-container">
        % if course_discovery_enabled:
        <div id="discovery-form" role="search" aria-label="course" class="wrapper-search-context">
          <div id="discovery-message" class="search-status-label"></div>
          <form class="wrapper-search-input">
            <label for="discovery-input" class="sr">${_('Search for a course')}</label>
            <input id="discovery-input" class="discovery-input" placeholder="${_('Search for a course')}" type="text"/>
            <button type="submit" class="button postfix discovery-submit" title="${_('Search')}">
              <span class="icon fa fa-search" aria-hidden="true"></span>
              <div aria-live="polite" aria-relevant="all">
                <div id="loading-indicator" class="loading-spinner hidden">
                  <span class="icon fa fa-spinner fa-spin" aria-hidden="true"></span>
                  <span class="sr">${_('Loading')}</span>
                </div>
              </div>
            </button>
          </form>
        </div>

        <div id="filter-bar" class="filters hide-phone is-collapsed">
        </div>
        % endif

        <div class="courses${'' if course_discovery_enabled else ' no-course-discovery'}" role="region" aria-label="${_('List of Courses')}">
          <ul class="courses-listing courses-list">
            %for course in courses:
              <li class="courses-listing-item">
                <%include file="../course.html" args="course=course" />
              </li>
            %endfor
          </ul>
        </div>

        % if course_discovery_enabled:
        <aside aria-label="${_('Refine Your Search')}" class="search-facets phone-menu">
          <h2 class="header-search-facets">${_('Refine Your Search')}</h2>
          <section class="search-facets-lists">
          </section>
        </aside>
        % endif

      </section>
    </section>
</main>
