<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html"/>

<%block name="pagetitle">${_("About")}</%block>

## BMV: Custom about page
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container about">
        <h1>
            <%block name="pageheader">${page_header or _("About")}</%block>
        </h1>

        <h2>Basic Information</h2>
        <ul>
            <li>BioMedVis platform is an online learning platform powered by <a
                href="https://open.edx.org" target="_blank">Open edX</a></li>
                <li>The platform runs on <a
                    href="https://docs.tutor.overhang.io" target="_blank">Tutor</a></li>
                <li>Its theme is based on <a
                    href="https://github.com/overhangio/indigo" target="_blank">Indigo theme</a></li>
        </ul>

        <h2>Terms of Service</h2>
        <ul>
            <li>
                More information about the Terms of Service can be found at the <a href="/tos">following link</a>
            </li>
        </ul>

        <h2>&copy;2022 BioMedVis</h2>
    </section>
</main>
