<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Contact")}</%block>

## BMV: Custom contact page
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container contact">
        <h1>
            <%block name="pageheader">${page_header or _("Contact")}</%block>
        </h1>
        
        <h2>Team Contact</h2>
        <ul>
            <li>Please contact our
                <a class="nav-link visitlab-label" href="https://visitlab.fi.muni.cz/" target="_blank">
                    <span class="visit-label">visit</span><span class="lab-label">lab</span>
                </a>
            </li>
        </ul>

        <h2>Thank you for using the BioMedVis platform!</h2>
    </section>
</main>
