<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Map")}</%block>

## BMV: Custom map page
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container course-map">
        <h1>Course Map will be placed here in future releases</h1>
        
        <p style="text-align: center; margin-bottom: 20px;">
            You will soon be redirected to <a href="${settings.LMS_ROOT_URL}/courses">Course List</a>.
        </p>

        <script>
            var courseListRedirect = setTimeout(function() {
                window.location='${settings.LMS_ROOT_URL}/courses'
            }, 5000);
        </script>
    </section>
</main>
