## BMV: Display custom BioMedVis summary

<%page expression_filter="h"/>
<%! 
from django.utils.translation import ugettext as _ 
from lms.djangoapps.courseware.courses import get_course
%>
<%inherit file="../main.html" />

## BMV: Using top-level function imports
<%namespace file="../../../snippets/biomedvis.html" 
    import="has_bio, has_med, has_vis, has_no_enrolled_courses, get_enrolled_courses,
        get_completion_text, get_difficulty_number, get_difficulty_degree"/>
<% enrolled_courses = get_enrolled_courses(user) %>
<%block name="pagetitle">My Achievements</%block>

<%namespace name='static' file='../static_content.html'/>

<main id="main" aria-label="Content" tabindex="-1">
    <header class="bmv-user-achievements">
        <h2>My Achievements</h2>
    </header>
    <section class="bmv-badges-overview">
        % if has_no_enrolled_courses(user):
            <div class="bmv-no-badges-message">
                <h2>GO EXPLORE!</h2>
                <h3>Enroll yourself to a course to gain badges for your achievemnts!</h3>
            </div>
        % else:
        <ul class="bmv-badges-list">
        % for enr_course in enrolled_courses:
            % if get_completion_text(enr_course.id, user) == "Completed":
                % if has_bio(enr_course.id):
                <li class="bmv-badge-item">
                    <div class="bmv-badge-image">
                        % if get_difficulty_number(enr_course.id) == 1:
                        <img class="bmv-badge-img" src="${static.url('images/badges/ok_bio1.png')}" alt="bio-badge">
                        % elif get_difficulty_number(enr_course.id) == 2:
                        <img class="bmv-badge-img" src="${static.url('images/badges/ok_bio2.png')}" alt="bio-badge">
                        % elif get_difficulty_number(enr_course.id) == 3:
                        <img class="bmv-badge-img" src="${static.url('images/badges/ok_bio3.png')}" alt="bio-badge">
                        % else:
                        <img class="bmv-badge-img" src="${static.url('images/badges/ok_bio.png')}" alt="bio-badge">
                        % endif
                    </div>
                    <div class="bmv-badge-info">
                        <div class="bmv-badge-title">Congrats!</div>
                        <div class="bmv-badge-desription">
                            <span><b>${get_course(enr_course.id).display_name}</b> completed!</span> 
                            % if get_difficulty_degree(enr_course.id) != "Unspecified":
                                <span class="bmv-badge-description-level">Level ${get_difficulty_degree(enr_course.id)}</span>
                            % endif
                        </div>
                    </div>
                </li>
                % endif
                % if has_med(enr_course.id):
                <li class="bmv-badge-item">
                    <div class="bmv-badge-image">
                        % if get_difficulty_number(enr_course.id) == 1:
                        <img class="bmv-badge-img" src="${static.url('images/badges/ok_med1.png')}" alt="med-badge">
                        % elif get_difficulty_number(enr_course.id) == 2:
                        <img class="bmv-badge-img" src="${static.url('images/badges/ok_med2.png')}" alt="med-badge">
                        % elif get_difficulty_number(enr_course.id) == 3:
                        <img class="bmv-badge-img" src="${static.url('images/badges/ok_med3.png')}" alt="med-badge">
                        % else:
                        <img class="bmv-badge-img" src="${static.url('images/badges/ok_med.png')}" alt="med-badge">
                        % endif
                    </div>
                    <div class="bmv-badge-info">
                        <div class="bmv-badge-title">Congrats!</div>
                        <div class="bmv-badge-desription">
                            <span><b>${get_course(enr_course.id).display_name}</b> completed!</span> 
                            % if get_difficulty_degree(enr_course.id) != "Unspecified":
                                <span class="bmv-badge-description-level">Level ${get_difficulty_degree(enr_course.id)}</span>
                            % endif
                        </div>
                    </div>
                </li> 
                % endif   
                % if has_vis(enr_course.id):
                <li class="bmv-badge-item">
                    <div class="bmv-badge-image">
                        % if get_difficulty_number(enr_course.id) == 1:
                        <img class="bmv-badge-img" src="${static.url('images/badges/ok_vis1.png')}" alt="vis-badge">
                        % elif get_difficulty_number(enr_course.id) == 2:
                        <img class="bmv-badge-img" src="${static.url('images/badges/ok_vis2.png')}" alt="vis-badge">
                        % elif get_difficulty_number(enr_course.id) == 3:
                        <img class="bmv-badge-img" src="${static.url('images/badges/ok_vis3.png')}" alt="vis-badge">
                        % else:
                        <img class="bmv-badge-img" src="${static.url('images/badges/ok_vis.png')}" alt="vis-badge">
                        % endif
                    </div>
                    <div class="bmv-badge-info">
                        <div class="bmv-badge-title">Congrats!</div>
                        <div class="bmv-badge-desription">
                            <span><b>${get_course(enr_course.id).display_name}</b> completed!</span>  
                            % if get_difficulty_degree(enr_course.id) != "Unspecified":
                                <span class="bmv-badge-description-level">Level ${get_difficulty_degree(enr_course.id)}</span>
                            % endif
                        </div>
                    </div>
                </li>
                % endif
            % else:
                % if has_bio(enr_course.id):
                <li class="bmv-badge-item">
                    <div class="bmv-badge-image">
                        <img class="bmv-badge-img" src="${static.url('images/badges/nok_bio.png')}" alt="bio-badge">
                    </div>
                    <div class="bmv-badge-info">
                        <div class="bmv-badge-title">Keep going!</div>
                        <div class="bmv-badge-desription">
                            Finish the course <b>${get_course(enr_course.id).display_name}</b>
                        </div>
                    </div>
                </li>
                % endif
                % if has_med(enr_course.id):
                <li class="bmv-badge-item">
                    <div class="bmv-badge-image">
                        <img class="bmv-badge-img" src="${static.url('images/badges/nok_med.png')}" alt="med-badge">
                    </div>
                    <div class="bmv-badge-info">
                        <div class="bmv-badge-title">Keep going!</div>
                        <div class="bmv-badge-desription">
                            Finish the course <b>${get_course(enr_course.id).display_name}</b>
                        </div>
                    </div>
                </li>
                % endif
                % if has_vis(enr_course.id):
                <li class="bmv-badge-item">
                    <div class="bmv-badge-image">
                        <img class="bmv-badge-img" src="${static.url('images/badges/nok_vis.png')}" alt="vis-badge">
                    </div>
                    <div class="bmv-badge-info">
                        <div class="bmv-badge-title">Keep going!</div>
                        <div class="bmv-badge-desription">
                            Finish the course <b>${get_course(enr_course.id).display_name}</b>
                        </div>
                    </div>
                </li>
                % endif
            % endif
        % endfor
        </ul>
        % endif
    </section>
</main>
