<%page expression_filter="h"/>
<%! from django.utils.translation import ugettext as _ %>
<%inherit file="../main.html" />

<%block name="pagetitle">${_("Terms of Service")}</%block>

## BMV: Custom TOS page
<main id="main" aria-label="Content" tabindex="-1">
    <section class="container tos">
        <h1>
            <%block name="pageheader">${page_header or _("Terms of Service")}</%block>
        </h1>
        
        <h2>Information Sources</h2>
        <ul>
            <li>Please refer to the Terms of Service for services running this platform</li>
            <li>For any BioMedVis-specific questions, please contact 
                <a class="nav-link visitlab-label" href="https://visitlab.fi.muni.cz/" target="_blank">
                    <span class="visit-label">visit</span><span class="lab-label">lab</span>
                </a>
            </li>
        </ul>

        <h2>Thank you for using the BioMedVis platform!</h2>
    </section>
</main>
