//// BMV Courses - Customization
//// http://local.overhang.io:8000/courses
//// Renamed to Explore

/* Explore header filter */

.bmv-filter .bmv-filter-links-wrapper a.bmv-filter-links {
    padding: 0 0.5rem;

    font: normal 1.2em/1.2em Crimson;
    font-family: Plex; 
}

.bmv-filter {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.bmv-filter-links-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.1rem;
    padding: 0.2rem;

    border: 1px solid $grey-color-light1;
    border-radius: $border-radius;
}

.bmv-filter-links-wrapper:hover, .bmv-filter-links-wrapper:active, .bmv-filter-links-wrapper:focus,
.bmv-filtered-by {
    background-color: $grey-color-light1;
    .bmv-filter-links {
        color: $dark-text-color !important;
    }
}

.bmv-filter-text {
    margin: 0 0.5rem 0 0;

    color: #767676;
}

// Explore flex wrap
ul.courses-listing.courses-list {
    display: flex;
    flex-wrap: wrap;
}

// Courses
li.courses-listing-item {
    margin: 2rem 0.5rem !important;
}

.courses-container .courses .course {
    border-bottom: 3px solid $grey-color-light1;
}

.courses-container .courses .course .course-info .course-title {
    color: #474747;
}

.bmv-time-tags-container {
    display: flex;
    justify-content: space-between;
}

.bmv-course-list-tags {
    display: flex;
}

.bmv-course-list-tag {
    margin: 0 0.2rem;
}

.learn-more {
    color: #474747 !important;
}

div.course-info.bmv-course-info-explore {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.bmv-course-name {
    display: flex;
    flex-direction: column;
}

.bmv-course-title {
    line-height: 2rem;
}

.bmv-course-info-difficulty {
    display: flex;
    align-items: center;
}

.bmv-course-info-difficulty-img {
    padding: 0 0.5rem;
}

.course-date.localized_datetime {
    padding: 0 !important;
}


// Search bar

.find-courses .discovery-submit {
    background: $grey-color-light2;
    color: inherit;

    border: 1px $grey-color-light2 solid;
    border-radius: $border-radius;
}

.find-courses .discovery-submit:hover {
    background: $grey-color-dark2;
    color: #fff;
}

.find-courses .discovery-input {
    border: 1px $grey-color-light2 solid;
}

.search-bar .search-field {
    border-radius: $border-radius;
}

div#loading-indicator {
    background: $grey-color-light2;
}

div#discovery-form {
    display: flex;
    justify-content: flex-end;
}

// Discovery message
div#discovery-message {
    display: none;
}