// BMV Course about - Customization
// http://local.overhang.io:8000/courses/course-v1:BioMedVis+100+ALL/about

// layout
section.course-info.bmv-course-info {
    display: grid;
    grid-template-columns: 5fr 2fr;
    grid-template-areas:
        "title img"
        "cont side"
        "cont add"
        "cont mit"
        "cont about";
}

// introduction
section.intro {
    grid-area: title;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 10.5rem;
    margin-bottom: 2rem;
    
    border-bottom: $grey-color-light1 solid 1px;
}

.media {
    grid-area: img;
}

.details {
    grid-area: cont;
}

section.course-info .course-sidebar {
    grid-area: side;
    width: 100%;
}

.main-cta {
    display: flex;
    align-items: flex-end;
    margin: 1rem;
}

a.register {
    padding: 1rem 2rem;

    background-color: $header-bg-color;
}

a.register:hover {
    background-color: $grey-color-light1;
}

.heading-group {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 0 1rem;
    padding-bottom: 1rem;
}

.bmv-course-about-title {
    margin: 0;
}

.wrap-instructor-info.studio-view {
    margin-left: 1r;
    margin-left: 1rem;
}

.inner-wrapper {
    margin: 1rem;
}

// course image
.media {
    margin-bottom: 2rem;
    border-bottom: $grey-color-light1 1px solid;
}

.hero {
    border-color: $grey-color-light1;
    border-width: 1px;
    border-style: solid;
}

.hero img {
    object-fit: cover;
    width: 100%;
    height: 10rem;
}

.teacher-image {
    display: none;
}

// details section
img.icon.fa {
    height: 13px;
}

li.important-dates-item {
    display: grid;
    grid-template-columns: 10% auto auto;
}

.icon.fa {
    justify-self: center;
}

p.important-dates-item-title {
    justify-self: start;
}

span.important-dates-item-text {
    justify-self: end;
}