//// BMV Dashboard - Customization
//// http://local.overhang.io/dashboard
// parent class: ".view-dashboard"

// dashboard
.dashboard .main-container .my-courses .course .details {
    padding-right: 1rem;
}

// course
.course-container:hover, .course-container:focus {
    background: $grey-color-light2;

    transition: all 0.15s linear 0s;
}

// course progress bar
progress#course-stats {
    width: calc(100% - 1.5rem);
    margin: 0 1rem 0 0.5rem;

    accent-color: $grey-color-dark2;
}

// course image
.wrapper-course-image {
    position: relative;
}

img.bmv-tick {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    width: 4rem;
    margin: auto;
}

// course bmv tags
.dashboard .main-container .my-courses .course .details .wrapper-course-details .course-title {
    flex-basis: 100%;
    padding-top: 1rem;
}

.wrapper-course-info-row {
    align-items: flex-end;
}

.bmv-course-title-tag-wrapper {
    display: flex;
    align-items: center;
}

a.course-target-link:hover {
    color: $grey-color-dark1 !important;
}

.bmv-tags {
    position: relative;

    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
}

.bmv-tags:hover .bmv-tags-text-hover {
    display: flex;
    padding: 0 0.2rem;
}

.bmv-tag {
    padding-left: 0.2rem;
}

.bmv-tags-text-hover {
    position: absolute;
    top: 2.4rem;

    display: none;
    width: max-content;
    padding: 0.1rem;

    background: #fff;

    font-size: 0.8rem;

    border: 1px $grey-color-light2 solid;
    border-radius: $border-radius;
}

// course info
.wrapper-course-info-row {
    align-items: flex-start;
}

.wrapper-course-info-row .course-info {
    padding: 0;
}

.wrapper-course-actions {
    display: flex;
    align-items: flex-end;
}

// Course buttons
.dashboard .main-container .my-courses .course .details .enter-course {
    width: 11rem;
}

a.course-target-link.enter-course, .wrapper-action-more button {
    border-radius: $border-radius !important;
    border: $grey-color-light1 1px solid !important;
}

.actions-item a {
    float: left !important;
}

a.course-target-link.enter-course:hover, 
a.course-target-link.enter-course:focus, 
.wrapper-action-more button:hover, 
.wrapper-action-more button:focus {
    background-color: $grey-color-light1  !important;
    color: $dark-text-color !important;

    border: 1px solid transparent !important;
}

.actions-dropdown-list .actions-item a {
    background: grey-color-light1;
}

// bmv difficulty
.bmv-course-info-difficulty-img img {
    object-fit: cover;
    float: left;

    height: 12px;
}

// search bar
.icon.fa.fa-search {
    color: $grey-color-dark1;
}

.search-bar .search-button:hover, .search-bar .search-button:hover:hover {
    background: $grey-color-dark2;
    color: #fff;
}