//// BMV Footer - Customization

// Footer general links
.nav-colophon a {
    font-weight: bold;
}

.wrapper-footer footer#footer-openedx .colophon {
    display: flex;
}

// Footer visitlab link
.nav-legal {
    margin: 5px 0 30px 30px;

    font-size: 14px !important;

    list-style-type: none;
}

.visitlab-label:hover,
.visitlab-label:focus {
    color: black !important;
}

a.nav-link.visitlab-label {
    font-size: 0.8rem;
}

.nav-link > .visit-label {
    font-weight: bold;
}

.nav-link > .lab-label {
    font-weight: lighter;
}

// Footer image links
.footer-about-openedx a {
    text-decoration: none;
}

.footer-about-openedx a > img {
    height: 32px;
    width: auto;
    margin-left: 1em;
    margin-bottom: .5em;
    
    filter: grayscale(1);
    transition: filter 0.3s;
}

.footer-about-openedx a > img:hover,
.footer-about-openedx a > img:focus {
    filter: grayscale(0);
}

footer li.nav-item {
    list-style: none;
}