// BMV variables should be defined in this file
//  https://www.w3schools.com/sass/sass_variables.php

$grey-color-dark1: #575756;
$grey-color-dark2: grey;
$grey-color-light1: #d8d8d8;
$grey-color-light2: #e7e7e7;
$dark-text-color: #121212;

$border-radius: 3px;

// header variables
$header-height: 8vh;
$header-icons-height: 1.8rem;
$header-logo-height: 1.2rem;
$header-bg-color:#f6f6f6;