// BMV Header - Customization 

.nav-links .main {
    margin: 0 !important;
}

/* global and main header */
#bmv-global-header, #bmv-main-header {
    height: $header-height;
}

#bmv-global-header {
    position: fixed;
    top: 0;
    z-index: 200;

    display: block;
    box-sizing: border-box;
    overflow: visible;
    width: 100%;
    padding-bottom: 10px;

    background: $header-bg-color;

    box-shadow: none;
    border-bottom: 1px solid $grey-color-light1;
    line-height: 1.5;
}

#bmv-main-header {
    display: grid;
    grid-template-columns: 1fr 7fr;
    align-items: center;
}

// to be erased from html?
.bmv-course-header {
    display: none;
}

.bmv-header-logo-container {
    display: flex;
    justify-content: left;
    align-items: center;
}

/* logo */
.bmv-logo{
    height: $header-logo-height;
    margin: 0 1rem 0 2rem;
}

/* navigation links */
.bmv-nav-links, nav.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bmv-main-links, .bmv-secondary {
    display: flex;
    align-items: center;
    margin: 0 2rem;
}

/* main links */
.bmv-tab-nav-link {
    padding: 0.1rem 0.2rem;
    margin: 0 0.8rem;
}

.bmv-tab-nav-link:hover, .bmv-tab-nav-link.active {
    border-bottom-color: $grey-color-dark2;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}

/* secondary links */
.bmv-user {
    position: relative;

    margin-left: 2rem;
    padding: 0.2rem;

    border-radius: $border-radius;
    transition: 0.3s;
}

.bmv-user:hover {
    background-color: $grey-color-light1 !important;
    cursor: pointer;
}

.toggle-user-dropdown[aria-expanded="true"] .bmv-user{
    background-color: $grey-color-light1;
}

#user-menu {
    position: absolute;
    right: 0;
    top: 3rem;

    display: block;
    width: max-content;
    padding: 0.5rem 0;
    margin: 0.5rem;

    background: $header-bg-color;

    line-height: 2rem;
    border: 1px solid $grey-color-light1;
    border-radius: $border-radius;
    box-shadow: 0px 20px 100px 0px $grey-color-light1;
}

.mobile-nav-item, .dropdown-item, .dropdown-nav-item {
    margin: 0;
    padding: 0 1rem;
}

img.bmv-user-menu-img {
    width: 1.2rem;
    padding-right: 0.2rem;
}

.mobile-nav-item.dropdown-item.dropdown-nav-item.bmv-user-name {
    border-bottom: $grey-color-light1 solid 1px;
    font-weight: bold;
}

#user-menu div a:hover {
    color: $dark-text-color !important;
}

/* sign-out page*/
.secondary {
    margin: 0 2rem !important;
}

.global-header .nav-links .secondary .nav-item {
    margin-left: 1rem !important;
    padding: 0 !important;
}

.global-header .nav-links .secondary a.sign-in-btn {
    background-color: $grey-color-dark2;
}

.global-header .nav-links .secondary a.register-btn {
    color: $grey-color-dark2;
}

/* main progress */
.bmv-user {
    height: 2.5rem;
}

.bmv-main-progress {
    height: $header-icons-height;
}

.bmv-main-progress {
    padding: 0 1rem;
}

.bmv-main-progress-icons {
    display: flex;
    align-content: center;
}

.bmv-main-progress-icon {
    display: flex;
    align-items: center;
}

/* hover element */

.bmv-main-progress-container {
    position: relative;

    padding: 0.2rem;

    border-radius: $border-radius;
    transition: 0.3s;
}

.bmv-main-progress-container:hover {
    background-color: $grey-color-light1;
    cursor: pointer;
}

.bmv-main-progress-container:hover + .nav-item.nav-item-dropdown .dropdown-user-menu {
    display: none !important;
}

.bmv-main-progress-container:hover .bmv-hover-progress-info-container {
    display: flex;
    flex-direction: column;
}

.bmv-hover-progress-info-container {
    display: none;
}

.bmv-hover-progress-info {
    position: absolute;
    right: 0;
    top: 3rem;

    display: flex;
    flex-direction: column;
    width: max-content;
    padding: 0.6rem;

    background: $header-bg-color;

    border-radius: 10px;
    border: 1px solid $grey-color-light1;
    box-shadow: 0px 20px 100px 0px $grey-color-light1;
}

.bmv-main-progress {
    padding-top: 3rem;
}

.bmv-progress {
    display: flex;
    align-items: center;
    padding: 0.3rem;
}

.bmv-progress-color-circle {
    display: flex;
    align-items: center;
    padding-right: 0.8rem;
}

.bmv-progress-number {
    display: flex;
    justify-content: space-between;
    width: 100%;

    font-size: 0.8rem;
}

.bmv-progress-number div:nth-child(2) {
    padding-left: 1.5rem;
}

.bmv-progress-number div:hover {
    color: $dark-text-color;
}
