//// BMV Course View - Customization
//// E.g. http://local.overhang.io:8000/courses/course-v1:edX+DemoX+Demo_Course

// Course header
.course-view .page-header .page-header-main {
    display: none;
}

button.btn.btn-outline-primary.search-button, button#expand-collapse-outline-all-button {
    color: #111;
}

// Course navigation
.content-wrapper .course-tabs .nav-item.active .nav-link, .content-wrapper .course-tabs .nav-item:hover .nav-link {
    color: $grey-color-dark2;

    border-bottom-color: $grey-color-dark2 !important;
    border-bottom-width: 2px !important;
    border-bottom-style: solid;
}

.bmv-course-header-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bmv-course-header-info-tags {
    display: flex;
}

// Progress
.bmv-course-progress-bar {
    width: 100%;
    height: 5px;

    border: 1px solid $grey-color-light1;
    border-radius: $border-radius;
}

progress.bmv-course-header-info-progress {
    width: 100%;

    accent-color: grey;
} 

// Check icons
.course-outline .block-tree .outline-button .complete-checkmark {
    color: $grey-color-dark1;
    background-color: unset;

    border: none;
}

.course-outline .block-tree .outline-button .fa {
    color: $grey-color-dark1;
}

// Content
.wrapper-preview-menu {
    margin: 8vh 0 0 0 !important;
    
    background-color: $grey-color-light1 !important;
}

.view-in-course .content-wrapper {
    margin-top: 0;
}

// Buttons
.btn-primary:hover, .btn-primary:focus {
    background-color: $grey-color-light1 !important;
}