// BMV index page - Customization

// Page's layout 
.bmv-biomedvis-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

img.bmv-logo-index-page {
    width: 20rem;
    margin-top: 10rem;
}

.bmv-index-text {
    display: flex;
    justify-content: center;
}

.bmv-index-text span {
    padding: 0 0.2rem;
}

.bmv-index-text-wrapper {
    display: flex;
    justify-content: center;
    margin: 2rem;
}

.bmv-platform {
    margin: 2rem;
}

// Buttons and link 
.global-header .nav-links .secondary a.sign-in-btn {
    background-color: $grey-color-dark2;
}
.global-header .nav-links .secondary a.sign-in-btn:hover {
    background-color: #fff;
    color: $grey-color-dark2;
    border-color: $grey-color-light1;
}

.global-header .nav-links .secondary a.register-btn {
    color: $grey-color-dark2;
}

.global-header .nav-links .secondary a.register-btn:hover {
    background-color: $grey-color-dark2;
}

a.bmv-index-links {
    text-decoration: underline;
}

.bmv-index-text-wrapper .bmv-index-text a.bmv-index-links:hover {
    color: $dark-text-color !important;
    text-decoration: underline !important;
}