// BMV Mobile - Customization

// Header
@media (max-width: 991.98px) {
    .bmv-header-logo {
        display: none;
    }
    .toggle-user-dropdown {
        display: none;
    }
    .global-header .hamburger-menu {
        top: 12px !important;
    }
    a.bmv-tab-nav-link {
        margin: 0;
    }
    a.bmv-tab-nav-link:hover {
        color: #fff !important;
    }
    .mobile-menu .mobile-nav-link:hover {
        color: #fff !important;
    }
    .bmv-main-progress-container {
        margin-left: 5rem;
    }
    .bmv-hidden {
        display: none;
    }
}

// Header mobile menu
.mobile-menu {
    margin: 8vh 0 -10px !important;
}

// Mobile layout
@media (max-width: 768px) {
    .content-wrapper {
        padding: 0 20px 10px;
    }

    section.course-info.bmv-course-info {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "title" "img" "side" "cont" "add" "mit" "about";
    }
}
