// BMV My Achievemnts Page

// Title
.bmv-user-achievements h2 {
    padding-left: 1rem;
}

// List
ul.bmv-badges-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 !important;
}

// Message no badges
.bmv-no-badges-message {
    padding: 1rem;
}

// Badges
li.bmv-badge-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10rem;
    margin: 1rem;
    padding: 0.5rem;

    list-style: none;
    border: $grey-color-light1 solid 1px;
    border-radius: $border-radius;
}

li.bmv-badge-item:hover {
    background: $grey-color-light2;
}

.bmv-badge-image {
    padding-bottom: 1rem;
}

.bmv-badge-info {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bmv-badge-desription {
    display: flex;
    flex-direction: column;

    font-size: 0.8rem;
}

.bmv-badge-title {
    padding: 0.2rem 0;
}

img.bmv-badge-img {
    object-fit: cover;
    width: 9rem;
}

.bmv-badge-description-level {
    font-size: 0.7rem;
}