## mako

<%page expression_filter="h" args="online_help_token"/>

<%namespace name='static' file='../static_content.html'/>
<%namespace file='../main.html' import="login_query"/>

<%!
from django.urls import reverse
from django.utils.translation import gettext as _
from openedx.core.djangoapps.site_configuration import helpers as configuration_helpers
%>

## BMV: Using top-level function imports
<%namespace file="../../../snippets/biomedvis.html" 
  import="count_completed_bio, count_completed_med, count_completed_vis"/>

<%
  show_explore_courses = settings.FEATURES.get('COURSES_ARE_BROWSABLE')
  self.real_user = getattr(user, 'real_user', user)
  enable_help_link = settings.FEATURES.get('ENABLE_HELP_LINK')

  support_link = configuration_helpers.get_value('SUPPORT_SITE_LINK', settings.SUPPORT_SITE_LINK)
  doc_link = get_online_help_info(online_help_token)['doc_url']

  if online_help_token == "instructor":
    help_link = doc_link
  elif support_link:
    help_link = support_link
  else:
    help_link = doc_link
%>

<div class="bmv-nav-links">
  <div class="bmv-main-links">
    % if show_explore_courses:
      <div class="mobile-nav-item hidden-mobile bmv-nav-tab">
        <a class="${'active ' if '/dashboard' == request.path else ''}bmv-tab-nav-link" href="${reverse('dashboard')}"
             aria-current="${'page' if '/dashboard' == request.path else 'false'}">
             Dashboard
        </a>
      </div>

      % if show_program_listing:
        <div class="mobile-nav-item hidden-mobile bmv-nav-tab">
          <a class="${'active ' if reverse('program_listing_view') == request.path else ''}bmv-tab-nav-link" href="${reverse('program_listing_view')}"
             aria-current="${'page' if reverse('program_listing_view') == request.path else 'false'}">
             ${_("Programs")}
          </a>
        </div>
      % endif

      <div style="display: none;" class="mobile-nav-item hidden-mobile bmv-nav-tab">
            <a class="${'active ' if '/map' == request.path else ''}bmv-tab-nav-link" href="${settings.LMS_ROOT_URL}/map"
                aria-current="${'page' if '/map' == request.path else 'false'}">
                Course Map
            </a>
      </div>

      <div class="mobile-nav-item hidden-mobile bmv-nav-tab">
          <a class="${'active ' if '/courses' == request.path else ''}bmv-tab-nav-link discover-new-link" href="${reverse('courses')}"
             aria-current="${'page' if '/courses' == request.path else 'false'}">
             Explore
          </a>
      </div>
    % endif
  </div>
  <div class="bmv-secondary">
    
    ## BMV: Counting user's completed courses
    <div class="bmv-main-progress-container">
      <div class="bmv-main-progress-icons">
        <div class="bmv-main-progress-icon">
          <svg height="36" width="36">
            <g>
              <circle cx="18" cy="18" r="15.5" stroke-width="2.5" stroke="#81C49B" fill="none" />
              <text text-anchor="middle" stroke-width="2" x="50%" y="65%">
                ${count_completed_bio(user)}
              </text>
            </g>
          </svg>  
        </div>
        <div class="bmv-main-progress-icon">
          <svg height="36" width="36">
            <g>
              <circle cx="18" cy="18" r="15.5" stroke-width="2.5" stroke="#6393CE" fill="none" />
              <text text-anchor="middle" stroke-width="2" x="50%" y="65%">
                ${count_completed_med(user)}
              </text>
            </g>
          </svg>  
        </div>
        <div class="bmv-main-progress-icon">
          <svg height="36" width="36">
            <g>
              <circle cx="18" cy="18" r="15.5" stroke-width="2.5" stroke="#DB9469" fill="none" />
              <text text-anchor="middle" stroke-width="2" x="50%" y="65%">
                ${count_completed_vis(user)}
              </text>
            </g>
          </svg>  
        </div>
      </div>
      <div class="bmv-hover-progress-info-container">
        <div class="bmv-hover-progress-info">
          <div class="bmv-progress">
            <div class="bmv-progress-color-circle">
              <svg height="30" width="30">
                <circle cx="15" cy="15" r="15" fill="#81C49B" />
              </svg>
            </div>
            <div class="bmv-progress-number">
                <div><b>Bio</b> Total Finished Courses: </div>
                <div><b>${count_completed_bio(user)}</b></div>
            </div>  
          </div>

          <div class="bmv-progress">
            <div class="bmv-progress-color-circle">
              <svg height="30" width="30">
                <circle cx="15" cy="15" r="15" fill="#6393CE" />
              </svg>
            </div>
            <div class="bmv-progress-number">
                <div><b>Med</b> Total Finished Courses: </div>
                <div><b>${count_completed_med(user)}</b></div>
            </div>  
          </div>

          <div class="bmv-progress">
            <div class="bmv-progress-color-circle">
              <svg height="30" width="30">
                <circle cx="15" cy="15" r="15" fill="#DB9469" />
              </svg>
            </div>
            <div class="bmv-progress-number">
                <div><b>Vis</b> Total Finished Courses: </div>
                <div><b>${count_completed_vis(user)}</b></div>
            </div>  
          </div>
        </div>
      </div>
      
    </div>

    <%include file="user_dropdown.html"/>
  </div>
</div>
