## mako
<%page expression_filter="h"/>
<%namespace name='static' file='static_content.html'/>

<%!
import json

from django.conf import settings
from django.urls import reverse
from django.utils.translation import gettext as _

from openedx.core.djangoapps.user_api.accounts.image_helpers import get_profile_image_urls_for_user
from openedx.core.djangoapps.user_api.accounts.toggles import should_redirect_to_order_history_microfrontend
from openedx.core.djangoapps.user_api.accounts.utils import retrieve_last_sitewide_block_completed
from openedx.features.enterprise_support.utils import get_enterprise_learner_generic_name, get_enterprise_learner_portal
%>

<%
## This template should not use the target student's details when masquerading, see TNL-4895
self.real_user = getattr(user, 'real_user', user)
profile_image_url = get_profile_image_urls_for_user(self.real_user)['medium']
username = self.real_user.username
resume_block = retrieve_last_sitewide_block_completed(self.real_user)
displayname = get_enterprise_learner_generic_name(request) or username
enterprise_customer_portal = get_enterprise_learner_portal(request)
## Enterprises with the learner portal enabled should not show order history, as it does
## not apply to the learner's method of purchasing content.
should_show_order_history = should_redirect_to_order_history_microfrontend() and not enterprise_customer_portal
%>

<%namespace name='static' file='../static_content.html'/>

<div class="nav-item nav-item-dropdown" tabindex="-1">
    <div class="toggle-user-dropdown" role="button" aria-label=${_("Options Menu")} aria-expanded="false" tabindex="0" aria-controls="user-menu">
        <img class="bmv-user" src="${static.url('images/user.png')}" alt="user">
    </div>
    <div class="dropdown-user-menu hidden" aria-label=${_("More Options")} role="menu" id="user-menu" tabindex="-1">
        <div class="mobile-nav-item dropdown-item dropdown-nav-item bmv-user-name bmv-hidden">
            ${displayname}
        </div>
        % if resume_block:
            <div class="mobile-nav-item dropdown-item dropdown-nav-item">
                <img src="${static.url('images/user_menu/resume.png')}" alt="resume icon" class="bmv-user-menu-img bmv-hidden">
                <a href="${resume_block}" role="menuitem">${_("Resume Last Course")}</a>
            </div>
        % endif

        <div class="mobile-nav-item dropdown-item dropdown-nav-item">
            <img src="${static.url('images/user_menu/profile.png')}" alt="profile icon" class="bmv-user-menu-img bmv-hidden">
            <a href="${reverse('learner_profile', kwargs={'username': username})}" role="menuitem">${_("My Profile")}</a>
        </div>
        <div class="mobile-nav-item dropdown-item dropdown-nav-item">
            <img src="${static.url('images/user_menu/settings.png')}" alt="settings icon" class="bmv-user-menu-img bmv-hidden">
            <a href="${reverse('account_settings')}" role="menuitem">${_("Account Settings")}</a>
        </div>
        <div class="mobile-nav-item dropdown-item dropdown-nav-item">
            <img src="${static.url('images/user_menu/achievements.png')}" alt="achievements icon" class="bmv-user-menu-img bmv-hidden">
            <a href="${settings.LMS_ROOT_URL}/overview" role="menuitem">My Achievements</a>
        </div>
        % if should_show_order_history:
            <div class="mobile-nav-item dropdown-item dropdown-nav-item">
                <img src="${static.url('images/user_menu/history.png')}" alt="order history icon" class="bmv-user-menu-img bmv-hidden">
                <a href="${settings.ORDER_HISTORY_MICROFRONTEND_URL}" role="menuitem">${_("Order History")}</a>
            </div>
        % endif
        <div class="mobile-nav-item dropdown-item dropdown-nav-item">
            <img src="${static.url('images/user_menu/signout.png')}" alt="sign out icon" class="bmv-user-menu-img bmv-hidden">
            <a href="${reverse('logout')}" role="menuitem">${_("Sign Out")}</a>
        </div>
    </div>
</div>
