//// General customization

// Variables

@import "bmv-look/globals";

body {
    line-height: normal !important;
}

// Content wrapper
.content-wrapper {
    margin: 8vh auto 0 auto !important;
    padding-top: 24px;
}

// Links
a:not(.btn), a:visited:not(.btn) {
    color: grey !important;
}

a:not(.btn):hover, a:not(.btn):focus, a:visited:not(.btn):hover, a:visited:not(.btn):focus {
    color: $dark-text-color;

    text-decoration: none !important; 
}

// Buttons
*, *::after, *::before {
	margin: 0;
	padding: 0;
}

button,
.btn {
	border-radius: $border-radius !important;
}

.btn-primary, .btn-brand {
    color: #222 !important;
    background: #fff !important;
}

.wrapper-preview-menu .preview-actions .action-preview .action-preview-label {
    color: #222 !important;
}

.btn-course-map {
	padding: 0.5em 1em;
    margin: 0 20px;

    color: white;
	background-color: $primary;

    border: 1px solid;
    border-color: $primary;
	transition: color .3s, background-color .3s;
}

.btn-course-map:hover,
.btn-course-map:focus {
	color: $primary;
	background-color: white;
}

// Text
.text-align-l {
	text-align: left;
}

// Inputs
input[type="submit"] {
	background-color: #d8d8d8;
	background-image: none;
}

input.submit-button:hover {
    background-image: none !important;
    background: grey;
}

textarea, input[type="text"], input[type="url"], input[type="email"], input[type="password"], input[type="tel"] {
    border: 1px solid #e7e7e7;
}



//// Specific customization
// Each file should use specific class name from <body> tag if possible
// Order of files always matters
@import "bmv-look/dashboard";
@import "bmv-look/courses";
@import "bmv-look/in-course";
@import "bmv-look/header";
@import "bmv-look/course-about";
@import "bmv-look/my_achievements";
@import "bmv-look/mobile";
@import "bmv-look/index";
@import "bmv-look/register";
@import "bmv-look/footer";

