<%def name="online_help_token()"><% return "course" %></%def>
<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import ugettext as _
from django.urls import reverse
from six import text_type
%>

## BMV: Using top-level function imports
<%namespace file="../../snippets/biomedvis.html" import="has_bio, has_med, has_vis, get_difficulty_degree"/>

<%page args="course" expression_filter="h"/>
<article class="course" id="${course.id}" role="region" aria-label="${course.display_name_with_default}">
  <a href="${reverse('about_course', args=[text_type(course.id)])}">
    <header class="course-image">
      <div class="cover-image">
        <img src="${course.course_image_url}" alt="${course.display_name_with_default} ${course.display_number_with_default}" />
        <div class="learn-more" aria-hidden="true">${_("LEARN MORE")}</div>
      </div>
    </header>
    <div class="course-info bmv-course-info-explore" aria-hidden="true">
      <div class="bmv-course-name">
        <span class="bmv-course-organization">${course.display_org_with_default}</span>
        <span class="bmv-course-code">${course.display_number_with_default}</span>
        <h3 class="bmv-course-title">${course.display_name_with_default}</h3>
        % if get_difficulty_degree(course.id) != "Unspecified":
          <div class="bmv-course-info-difficulty">
            <span>${get_difficulty_degree(course.id).split()[1]}</span>
            <div class="bmv-course-info-difficulty-img">
              % if get_difficulty_degree(course.id).split()[0] == "1":
                <img class="" src="${static.url('images/levels/level_1.png')}" alt="1">
              % elif get_difficulty_degree(course.id).split()[0] == "2":
                <img class="" src="${static.url('images/levels/level_2.png')}" alt="2">
              % elif get_difficulty_degree(course.id).split()[0] == "3":
                <img class="" src="${static.url('images/levels/level_3.png')}" alt="3">
              % endif
            </div>
          </div>
        % endif
        </div>
      <div class="bmv-time-tags-container">
        <%
          if course.start is not None:
              course_date_string = course.start.strftime('%Y-%m-%dT%H:%M:%S%z')
          else:
              course_date_string = ''
          %>
          % if course.advertised_start is not None:
              <div class="course-date" aria-hidden="true">${_("Starts")}: ${course.advertised_start}</div>
          % else:
              <div class="course-date localized_datetime" aria-hidden="true" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}" data-string="${_("Starts: {date}")}"></div>
          % endif
          
          ## BMV: Showing course tags
          <div class="bmv-course-list-tags">
            % if has_bio(course.id):
              <div class="bmv-course-list-tag bmv-bio">
                <svg height="20" width="20">
                  <circle cx="10" cy="10" r="10" fill="#81C49B" />
                </svg>
              </div>
            % endif

            % if has_med(course.id):
              <div class="bmv-course-list-tag bmv-med">
                <svg height="20" width="20">
                  <circle cx="10" cy="10" r="10" fill="#6393CE" />
                </svg>
              </div>
            % endif

            % if has_vis(course.id):
              <div class="bmv-course-list-tag bmv-vis">
                <svg height="20" width="20">
                  <circle cx="10" cy="10" r="10" fill="#DB9469" />
                </svg>
              </div>
            % endif
          </div>
        </div>
    </div>
    <div class="sr">
      <ul>
        <li>${course.display_org_with_default}</li>
        <li>${course.display_number_with_default}</li>
        % if course.advertised_start is not None:
            <li>${_("Starts")}: <time itemprop="startDate">${course.advertised_start}</time></li>
        % else:
            <li>${_("Starts")}: <time class="localized_datetime" itemprop="startDate" data-format="shortDate" data-datetime="${course_date_string}" data-language="${LANGUAGE_CODE}"></time></li>
        % endif
      </ul>
    </div>
  </a>
</article>
<%static:require_module_async module_name="js/dateutil_factory" class_name="DateUtilFactory">
    DateUtilFactory.transform(iterationKey=".localized_datetime");
</%static:require_module_async>
