## BMV: Custom content page
<h1>${settings.PLATFORM_NAME} Platform</h1>
<p>{{ INDIGO_WELCOME_MESSAGE }}</p>

<div class="text-align-l">
    <p style="text-align: center; margin: 50px 0 10px 0;">Register or Sign in to experience the platform.</p>
    <p style="text-align: center; margin: 10px 0 30px 0;">Courses can be displayed in a list or on a map.</p>
</div>
