<%inherit file="main.html" />
<%block name="pagetitle">Home</%block>

<%namespace name='static' file='static_content.html'/>
<%!
from django.utils.translation import gettext as _
from django.urls import reverse

from openedx.core.djangolib.markup import HTML, Text
%>



<div class="bmv-biomedvis-logo">
  <img class="bmv-logo-index-page" src="${static.url('images/logo.png')}"  alt="BioMedVis logo"/>
  <h2 class="bmv-platform">Platform full of amazing courses.</h2>
</div>
<div class="secondary">
  <div class="bmv-index-text-wrapper">
    <div class="bmv-index-text">
      <a class="bmv-index-links" href="/register">Register</a> 
      <span> or </span>  
      <a class="bmv-index-links" href="/login">Sign in</a> 
      <span>and explore courses on our platform!</span> 
  </div>
  <br>
  <br>
  <br>
</div>