####################################################
## BMV: File with custom BioMedVis functionality. ##
####################################################

<%page expression_filter="h"/>
<%!

from django.urls import reverse
from django.utils.translation import gettext as _
from openedx.core.djangoapps.site_configuration import helpers as \
    configuration_helpers

# Importing existing Open edX packages.

from lms.djangoapps.courseware.courses import get_course, get_courses, \
    get_course_blocks_completion_summary
from lms.djangoapps.courseware.access_utils import check_enrollment


# Operations using course.id.

def get_course_settings(course_id):
    """
    Get other course settings for the specified course. These settings include
    bio/med/vis tags and difficulty level.

    @param course_id: CourseLocator
        ID stored in course.id
    @return: dict
        Dictionary stored in course.other_course_settings
    """
    return get_course(course_id).other_course_settings


def contains_tag(course_id, tag):
    """
    Check if the specified course contains "bmv-<name>" tag, where <name> is
    bio/med/vis.

    @param course_id: CourseLocator
        ID stored in course.id
    @param tag: string
        In format "bmv-<name>", where <name> is bio/med/vis
    @return: bool
        If the specified course contains the tag
    """
    course_settings = get_course_settings(course_id)
    if tag not in course_settings:
        return False
    return course_settings[tag]


# Operations using course.course_completion_summary.

def get_completed_count(course_stats):
    """
    Get number of all completed courses.

    @param course_stats: dict
        Dictionary created by calling
        course.get_course_blocks_completion_summary
    @return: int
        Count of all completed courses
    """
    return course_stats["complete_count"]


def get_total_count(course_stats):
    """
    Get number of unlocked courses.

    @param course_stats: dict
        Dictionary created by calling
        course.get_course_blocks_completion_summary
    @return: int
        Count of unlocked courses
    """
    return course_stats["complete_count"] + course_stats["incomplete_count"]


# Getting courses specified by their completion status.

def get_all_courses(user):
    """
    Get all available courses for the specified user.

    @param user: User
        User object
    @return: LazySequence of CourseOverview objects
        All available courses for the user
    """
    return get_courses(user)


def get_enrolled_courses(user):
    """
    Get enrolled courses for the specified user.

    @param user: User
        User object
    @return: List of CourseOverview objects
        Enrolled courses for the user
    """
    result = []
    for course in get_courses(user):
        if check_enrollment(user, get_course(course.id)):
            result.append(course)
    return result


def get_completed_courses(user):
    """
    Get completed courses for the specified user.

    @param user: User
        User object
    @return: LazySequence
        Completed courses for the user
    """
    result = []
    for course in get_courses(user):
        if check_enrollment(user, get_course(course.id)):
            stats = get_course_blocks_completion_summary(course.id, user)
            if get_total_count(stats) != 0 and \
                    get_completed_count(stats) == get_total_count(stats):
                result.append(course)
    return result


# Counting tags for courses.

def get_tag_count(courses, tag):
    """
    Count courses with the specified tag.

    @param courses: LazySequence of CourseOverview objects 
        All courses obtained using get_all_courses
    @param tag: str
        In format "bmv-<name>", where <name> is bio/med/vis
    @return: int
        Count of the specified tag in courses
    """
    count = 0
    for course in courses:
        if contains_tag(course.id, tag):
            count += 1
    return count


def count_completed_courses_tag(user, tag):
    """
    Count completed user's courses with the specified tag.

    @param user: User
        User object
    @param tag: str
        In format "bmv-<name>", where <name> is bio/med/vis
    @return: int
        Count of the specified tag in the completed user's courses
    """
    return get_tag_count(get_completed_courses(user), tag)


# Obtaining course difficulty.

levels = ["Beginner", "Intermediate", "Master"]


def get_difficulty(course_id):
    """
    Get diffuculty level for the specified course.

    @param course_id: CourseLocator
        ID stored in course.id
    @return: str
        Formatted difficulty level name
    """
    course_settings = get_course_settings(course_id)
    if "difficulty" not in course_settings:
        return None
    return course_settings["difficulty"]

%>

########################################################################
## BMV PUBLIC: Top-level definitions for external use in other files. ##
##             To create a new one, use the special <%def> tag.       ## 
########################################################################

## Check if course contains the tag.
##
## @param course_id: CourseLocator - ID stored in course.id

<%def name="has_bio(course_id)">
  <% return contains_tag(course_id, "bmv-bio") %>
</%def>

<%def name="has_med(course_id)">
  <% return contains_tag(course_id, "bmv-med") %>
</%def>

<%def name="has_vis(course_id)">
  <% return contains_tag(course_id, "bmv-vis") %>
</%def>

## Get course progress information.
##
## @param course_id: CourseLocator - ID stored in course.id
## @param user: User - User object

<%def name="get_completed_count(course_id, user)">
    ${get_course_blocks_completion_summary(course_id, user)["complete_count"]}
</%def>

<%def name="get_total_count(course_id, user)">
    <% stats = get_course_blocks_completion_summary(course_id, user) %>

    ${stats["complete_count"] + stats["incomplete_count"]}
</%def>

<%def name="get_progress_percentage(course_id, user)">
    <% 
    stats = get_course_blocks_completion_summary(course_id, user) 

    return 0 if get_total_count(stats) == 0 else \
        int(100*get_completed_count(stats)/get_total_count(stats))
    %>
</%def>

<%def name="get_completion_text(course_id, user)">
    <%
    stats = get_course_blocks_completion_summary(course_id, user)

    if get_total_count(stats) == 0:
        return "Course has no blocks"
    if get_completed_count(stats) == 0:
        return "Not started"
    if get_completed_count(stats) != get_total_count(stats):
        return "In progress"
    return "Completed"
    %>
</%def>

## Get course count based on their completion status.
##
## @param user: User - User object

<%def name="count_all_courses(user)">
  ${len(get_all_courses(user))}
</%def>

<%def name="count_enrolled_courses(user)">
  ${len(get_enrolled_courses(user))}
</%def>

<%def name="has_no_enrolled_courses(user)">
  <% return len(get_enrolled_courses(user)) == 0 %>
</%def>

<%def name="count_completed_courses(user)">
  ${len(get_completed_courses(user))}
</%def>

## Get course count based on the tag.
##
## @param courses: LazySequence of CourseOverview objects 
##                 - All courses obtained using get_all_courses

<%def name="count_all(courses)">
  ${len(courses)}
</%def>

<%def name="count_bio(courses)">
  ${get_tag_count(courses, "bmv-bio")}
</%def>

<%def name="count_med(courses)">
  ${get_tag_count(courses, "bmv-med")}
</%def>

<%def name="count_vis(courses)">
  ${get_tag_count(courses, "bmv-vis")}
</%def>

## Get completed tags count in the user's courses.
##
## @param user: User - User object

<%def name="count_completed_bio(user)">
    <% return count_completed_courses_tag(user, "bmv-bio") %>
</%def>

<%def name="count_completed_med(user)">
    <% return count_completed_courses_tag(user, "bmv-med") %>
</%def>

<%def name="count_completed_vis(user)">
  <% return count_completed_courses_tag(user, "bmv-vis") %>
</%def>

## Get course difficulty level information.
##
## @param course_id: CourseLocator - ID stored in course.id

<%def name="get_difficulty_degree(course_id)">
    <%
    level = get_difficulty(course_id)
    if level is None:
        return "Unspecified"
    
    return f"{level+1} {levels[level] if 0 <= level < len(levels) else ''}"
    %>
</%def>

<%def name="get_difficulty_number(course_id)">
    <%
    level = get_difficulty(course_id)
    if not level:
        return 0
    return level + 1
    %>
</%def>

## Use Python functions in the templates by propagating their behavior.
##
## @param user: User - User object

<%def name="get_enrolled_courses(user)">
    <%
    return get_enrolled_courses(user)
    %>
</%def>
